.header {
  background-color: #f5f5f5;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.navItem {
  margin: 0 15px;
}

.navLink {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.active {
  text-decoration: none;
  color: red;
  font-weight: bold;
}
